<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading"><label ng-if="!edit" id="createCliente">Crear nuevo Cliente</label>
                <label ng-if="edit" id="editCliente">Editar Cliente</label></div>
            <div class="panel-body">
                <form ng-submit="createCliente()" name="cliente">
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="clienteNombre" class="col-sm-2">Nombre:</label>
                            <input id="clienteNombre" required ng-model="clienteNombre" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="clienteCedula" class="col-sm-2">Cedula:</label>
                            <input id="clienteCedula"  required ng-model="clienteCedula" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!author.$valid">

                            <div class="alert alert-warning" >
                                <strong>Warning!</strong><p>All inputs are required*</p>
                            </div> 
                        </div> 
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-sm-12">
                            <input ng-show="cliente.$valid" type="submit" value="Save" class="btn btn-success"/>
                            <a class="btn btn-info" ui-sref="clientesList">Cancel</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


