<div class="container-fluid">
    <div class="col-sm-12">
        <br>
        <table ng-if="!messageImagenes" class="table table-striped">
            <tbody>
                <tr ng-repeat="imagen in imagenesRecords">
                    <td id="{{$index}}-id"><b>{{currentHueco.id}}</b><span>: </span>{{imagen.foto}}</td>
                </tr>
            </tbody>
        </table>
        <table ng-if="messageImagenes" class="table table-striped">
            <tbody>
                <tr>
                    <td><b>{{messageImagenes}}</b></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>