<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2" ng-repeat="punto in puntosRecords">
            <div class="caption text-center">
                <p>{{punto.cantidad}}</p>
                <p ng-repeat="cliente in punto.clientes">
                    <a ui-sref="clienteDetail({clienteId: cliente.id})" class="thumb">{{cliente.name}}</a>
                </p>
            </div>
           
        </div>
    </div>
</div>
