<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading"><label ng-if="!edit" id="createCalificacion">Crear nueva calificacion</label>
                <label ng-if="edit" id="editAuthor">Edit Calificacion</label></div>
            <div class="panel-body">
                <form ng-submit="createCalificacion()" name="calificacion">
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="calificacionNota" class="col-sm-2">Nota:</label>
                            <input id="calificacionNota" required ng-model="calificacionNota" class="col-sm-6"/>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="calificacionComentario" class="col-sm-2">Comentario:</label>
                            <input id="calificacionComentario" required ng-model="calificacionComentario" class="col-sm-6"/>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!calificacion.$valid">

                            <div class="alert alert-warning" >
                                <strong>Advertencia!</strong><p>Todos los espacios son requeridos*</p>
                            </div> 
                        </div> 
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-sm-12">
                            <input ng-show="calificacion.$valid" type="submit" value="Guardar" class="btn btn-success"/>
                            <a class="btn btn-info" ui-sref="calificacionesList">Cancelar</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>